<h2>New Mountain</h2>

<form action="<%= mountains_path %>" method="post">
  <label>
    Name:
    <input name="name" required>
  </label>

  <label>
    Meters:
    <input type="number" name="meters">
  </label>

  <label>
    Range:
    <input type="text" name="range">
  </label>


  <button>Create Mountain</button>
</form>
